:host {
    display: block;
    padding: 0 1em;
}

table {
    margin-top: 0.75em;
    border-collapse: collapse;
}
th {
    text-align: left;
    border-bottom: 2px solid #ddd;
    padding: 0.5em;
}
td {
    border-top: 1px solid #ddd;
    padding: 0.5em;
}