@import "font_awesome/variables";
@import "font_awesome/mixins";
@import "font_awesome/path";
@import "font_awesome/core";
@import "font_awesome/larger";
@import "font_awesome/fixed-width";
@import "font_awesome/list";
@import "font_awesome/bordered-pulled";
@import "font_awesome/animated";
@import "font_awesome/rotated-flipped";
@import "font_awesome/stacked";
@import "font_awesome/icons";
@import "font_awesome/screen-reader";
