@import "variables";
@import "colors";

/* Reset */
html,
body,
div {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Box-sizing border-box */
* {
  box-sizing: border-box;
}

/* Set up a default font and some padding to provide breathing room */
body {
  font-family: $md-font-family;
  font-size: $md-body-font-size-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1em;
  margin-bottom: 1em;
  margin-top: 1em;
}

ul {
  margin: 0.5em 0 0 0;
  padding: 0 0 0 1em;
}

li {
  margin-top: 0.5em;
}

label {
  display: inline-block;
  width: 3em;
  margin: 0.5em 0;
  color: #106cc8;
}

input {
  border: 1px solid md-color($app-blue, 500);
  height: 2em;
  font-size: 1em;
}

button {
  background-color: md-color($app-blue, 500);
  border-style: none;
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  display: inline-block;
  height: 2em;
  font-size: 1em;
}

button:hover {
  background-color: md-color($app-blue, 400);
}
